.EducationItem {
    margin: auto;
    margin-bottom: 1rem;
    border: solid;
    border-radius: 1rem;
    width: 50%;
    padding: 1rem;
    background-color: white;
}
 
.degree {
    margin-top: 0rem;
    color: lightgray;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header>p {
    font-weight: 900;
    margin-bottom: 0rem;
}
