section:nth-child(even) {
  /*background-color: var(--bs-primary);*/
}

.fill-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
.text-justify {
  text-align: justify;
}
/* PARALAX */
.parallax-testimonials {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.75)), url("../assets/img/landing.png");
}

.parallax-bio {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.25)), url("../assets/img/card_uio.png");
}

.parallax-bio,
.parallax-testimonials
 {
  min-height: auto; /* Set a specific height */
  background-attachment: fixed; /* control the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-card {
  width: auto;
}

@media (min-width: 1200px) {
  .contact-card {
    width: 60%;
  }
}
.gradientImg {
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 75%,rgba(255, 255, 255, 0.9));
  -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 75%,rgba(255, 255, 255, 0.9));
}

#bio_container > p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25rem;
  margin: 10px 0 0 10px;
}

#bio_container {
}

.bio_entry {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.bio_col {
  width: 50%;
  padding: 3rem;
}

.bio_entry:nth-child(even) {
}

.bio_entry {
}

#bio_container > .bio_entry:nth-child(odd) {
  flex-direction: row-reverse;
}

#bio_container > .bio_entry:nth-child(odd) > .bio_col:first-child {
  border-left: solid 1px black;
}

#bio_container > .bio_entry:nth-child(even) > .bio_col:first-child {
  border-right: solid 1px black;
}

.card-footer > button {
  float: right;
}

@media (max-width: 768px) {
  #bio_container {
    width: 100vw;
  }
  #bio_container > p {
    font-size: 1rem;
  }
}


.card-body-content {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.card-body-content-active {
  overflow: visible;
  height: 100%;
  display: block;
}



.page-section h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}

.contact_img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  margin: auto;
}

.modal-body > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/* HEADER */
header.masthead {
  border-bottom: solid 1rem var(--bs-primary);
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  color: #000000;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../assets/img/landing_1.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right center;
  background-size: cover;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}

/* Card flips */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
}

.flip-card img {
  width: 100%;
  height: 100%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front { /* Style the front side (fallback if image is missing) */
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

/* OTHER */
.footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}

#sectionContact .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

/* Hide elements */
.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}




#contentExperience, #contentProject {
  transition: opacity 0.15s linear;
}






















/* TIMELINE */
.timeline { /* The actual timeline (the vertical ruler) */
  position: relative;
  width: 75%;
  margin: 0 auto;
}

.timeline::after { /* The actual timeline (the vertical ruler) */
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(255, 255, 255);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline_event { /* Container around content */
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline_event::after { /* The circles on the timeline */
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #0d6efd;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left { /* Place the container to the left */
  left: 0;
}

.timeline > .right { /* Place the container to the right */
  left: 50%;
}

.left::before { /* Add arrows to the left container (pointing right) */
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.timeline > .right::before { /* Add arrows to the right container (pointing left) */
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline > .right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .timeline {
    width: 100%;
  }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media (max-width: 1200px) {

  .timeline::after { /* Place the timelime to the left */
    left: 31px;
  }
  
  .timeline_event { /* Full-width containers */
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  .timeline > .timeline_event::before { /* Make sure that all arrows are pointing leftwards */
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .timeline > .right::after {
    left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .timeline > .right {
    left: 0%;
  }
}